In [5]:
import psycopg2

conn = psycopg2.connect(database="ProLnx", user = "postgres", password = "brougekick77", host = "127.0.0.1", port = "5432")

print("Opened database successfully")

Opened database successfully

In [6]:
'''
cur = conn.cursor()
cur.execute("  from COMPANY")
rows = cur.fetchall()
for row in rows:
   print "ID = ", row[0]
   print "NAME = ", row[1]
   print "ADDRESS = ", row[2]
   print "SALARY = ", row[3], "\n"

print("Operation done successfully")
conn.close()
'''

'\ncur = conn.cursor()\ncur.execute("  from COMPANY")\nrows = cur.fetchall()\nfor row in rows:\n   print "ID = ", row[0]\n   print "NAME = ", row[1]\n   print "ADDRESS = ", row[2]\n   print "SALARY = ", row[3], "\n"\n\nprint("Operation done successfully")\nconn.close()\n'

In [4]:
conn.close()

In [7]:
cur = conn.cursor()
cur.execute("SELECT DISTINCT pt_count FROM pt")
rows = cur.fetchall()

In [8]:
for row in rows:
    print(row[0])

45s CKC
55sOPT
60s CWC-S-SILVER
60sCWC-P-SILVER
60s CH5* - P
50s CHPREM -S
50s CKC
0.13
60s CH5* - S
60s OPT
60sCKCPREM-S
20sRWT
42sRWT-36mm
50 CK
0.130
1.5
0.140
1.4
60 CW
1.60
42sOPT
1.2
20sOPT
62s CWC
50s CWC
50PST
0.0081
50s CH5*
62s CWC - P
42s CKC
1.30
55sRWT
60s CK
0.0076
48sRWT
60CWC-P
48sOPT
63sRWT
50sCKCPREM-P
44 CKC
60sRWT
60s CWCP-S
40s CKC
55 RWT
60s CKC
42sRWT
60CW-C
0.120

In [ ]:
cur = conn.cursor()
cur.execute("SELECT * FROM pt WHERE ")
rows = cur.fetchall()