In [1]:
# Importing Required libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from matplotlib.pyplot import figure
import datetime
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [3]:
pt_df = pd.read_csv('pt.csv',low_memory=False)
prod_df =  pt_df[pt_df.pt_date.str.contains('2018$')]
prod_df = prod_df [prod_df.pt_mcode.str.contains('^RF')]

In [9]:
prod_df['pt_tslip'].unique()

array([3.25, 3.  , 4.  , 3.5 , 4.5 , 2.5 , 3.4 , 5.5 , 4.6 , 1.5 , 4.2 ,
       4.55, 5.  , 4.35, 2.06, 1.  ])

In [108]:
#No_Values - 'pt_ppl','pt_avgspd','pt_avgtpi','pt_twast','pt_air','pt_beartemp'
#Values     - 'pt_avgdel','pt_hanks','pt_insmpm','pt_avgmpm','pt_inspd','pt_stddel','pt_inssspd','pt_avgsspd','pt_instpi','pt_acttpi','pt_tc'
#constant  - 'pt_frppr','pt_dlvrs','pt_drdia'

In [12]:
calc_df =  pd.read_csv('calculated.csv',low_memory=False)

In [13]:
calc_df.columns

Index(['Unnamed: 0', 'pt_date', 'pt_count', 'pt_mcode', 'pt_hanks', 'pt_dlvrs',
       'pt_stdhnk', 'pt_nomhnk', 'pt_idlespnper', 'pt_tc', 'pt_crsec',
       'pt_ssdur', 'pt_lsdur', 'pt_stdgpss', 'std_prod', 'act_prod',
       'prod_eff', 'run_dur', 'util', 'stop_dur', 'w_spindles', 'act_gpss'],
      dtype='object')

In [14]:
prod_df = prod_df[['pt_avgdel','pt_hanks','pt_avgmpm','pt_stddel','pt_avgsspd','pt_acttpi','pt_tc']]

In [15]:
prod_df.describe()

,pt_avgdel,pt_hanks,pt_avgmpm,pt_stddel,pt_avgsspd,pt_acttpi,pt_tc
count,76841.000000,76841.000000,76841.000000,76841.000000,76841.000000,76841.000000,76841.000000
mean,233.055994,11.474707,19.779428,20.967816,18927.347971,24.168312,1.990880
std,58.912228,3.136563,5.000266,2.604109,4527.237326,6.039955,0.752962
min,-7810.750000,0.000000,-662.806950,14.380000,0.000000,0.000000,0.000000
25%,221.600800,10.504210,18.805006,19.740000,18945.135000,23.167322,1.900000
50%,235.031510,12.009484,19.945442,20.580000,19976.758000,25.623747,1.990000
75%,250.614640,13.023899,21.269089,21.750000,20645.271000,26.348124,2.330000
max,2535.189000,21.596169,215.131840,35.130000,111729.730000,151.644270,2.970000

In [16]:
prod_df.corr()

,pt_avgdel,pt_hanks,pt_avgmpm,pt_stddel,pt_avgsspd,pt_acttpi,pt_tc
pt_avgdel,1.000000,0.642392,0.999979,0.365988,0.502695,0.140681,-0.080785
pt_hanks,0.642392,1.000000,0.642356,0.292205,0.461852,0.148793,-0.075565
pt_avgmpm,0.999979,0.642356,1.000000,0.365575,0.502992,0.140823,-0.082085
pt_stddel,0.365988,0.292205,0.365575,1.000000,-0.093290,-0.425189,-0.078255
pt_avgsspd,0.502695,0.461852,0.502992,-0.093290,1.000000,0.799177,0.007783
pt_acttpi,0.140681,0.148793,0.140823,-0.425189,0.799177,1.000000,0.106949
pt_tc,-0.080785,-0.075565,-0.082085,-0.078255,0.007783,0.106949,1.000000