In [1]:
# Importing Required libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from matplotlib.pyplot import figure
import datetime
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [2]:
wr_df = pd.read_csv('wr.csv',low_memory=False)

In [3]:
wr_df['wr_rh'].unique()

array([62, 63, 64, 65, 61,  0, 25, 59, 58, 66, 16, 55, 57, 68, 47, 60, 18,
       21, 67, 13, 74, 54, 53, 79, 70, 69, 75, 41, 56, 32, 83, 71, 72],
      dtype=int64)

In [4]:
wr_df_t =  wr_df[wr_df.wr_sdate.str.contains('^2018')]
#wr_df_t = wr_df_t [wr_df_t.wr_mcode.str.contains('^RF')]

In [5]:
wr_df_t = wr_df_t[['wr_sdate','wr_mcode','wr_count','wr_acount','wr_stren','wr_csp','wr_nosmp','wr_studyno','wr_rh']]

In [6]:
wr_df_t.columns

Index(['wr_sdate', 'wr_mcode', 'wr_count', 'wr_acount', 'wr_stren', 'wr_csp',
       'wr_nosmp', 'wr_studyno', 'wr_rh'],
      dtype='object')

In [7]:
wr_df_t.wr_mcode.unique()

array(['RF-11', 'RF-42', 'RF-46', 'RF-08', 'RF-09', 'RF-39', '01',
       'RF-40', 'RF-10', 'RF-41', 'RF-32', 'RF-05', 'RF-06', 'RF-07',
       '18', 'RF-18', 'RF-19', 'RF-36', 'RF-37', 'RF-38', 'RF-43',
       'RF-31', 'RF-33', 'RF-13', 'RF-14', 'RF-15', 'RF-22', 'RF-23',
       'RF-24', 'RF-25', 'RF-20', 'RF-21', '07', '22', '20', 'RF-17',
       'RF-28', '06', 'RF-35', 'RF-29', 'RF-26', 'RF-16', 'RF-01',
       'RF-30', '05', '24', '14', '15', '21', '23', 'RF-34', '31', '08',
       '17', '25', '10', 'RF-02', 'RF-03', 'RF-12', 'RF-04', 'RF-27',
       'OE', 'RF-45', '001', '002', 'RF-44', '13', '26', '19', '29', '11',
       '30', '28', '09', '02', '04', '12', '16', '03'], dtype=object)

In [8]:
#wr_df_t.to_csv('cascade_2018.csv')

In [8]:
wr_df_t['wr_count'].unique()

array(['100CW', '60C', '92/1CW', '50CW', '67cw', '90CW', '60/1CW', '40K',
       '40CW', '60/1CW  slub', '40KW', '40C', '30C', '40', '40CW  COM',
       '92 CW', '40CW  SLUB', '80CW', '80COMPACT', '90C', '67/1CW',
       '92CW', '60COM', '80C', '16', '80CW COM', '40/1CW', '100/1CW',
       '80COM', '90/1CW', '50COM', '90 CW', '90/2CW', '67/2CW', '60/2CW',
       '40/2CW', '30/2CW', '90/1 CW', '80/2CW', '60CW  slub', '36CW',
       '10', '92/2CW', '40/2K', '50/2CW', '100/2CW', '30CW', '60CW'],
      dtype=object)

In [9]:
wr_df_t.dtypes

wr_sdate       object
wr_mcode       object
wr_count       object
wr_acount     float64
wr_stren      float64
wr_csp          int64
wr_nosmp        int64
wr_studyno      int64
wr_rh           int64
dtype: object

In [10]:
count = '100CW'

In [11]:
wr_df_t  = wr_df_t[wr_df_t['wr_count']=='100CW']

In [12]:
wr_df_t ['wr_sdate'] =pd.to_datetime(wr_df_t .wr_sdate)
wr_df_t  = wr_df_t.sort_values(by='wr_sdate')
wr_df_t .head(5)

,wr_sdate,wr_mcode,wr_count,wr_acount,wr_stren,wr_csp,wr_nosmp,wr_studyno,wr_rh
386296,2018-01-01,01,100CW,99.0827,0.0000,0,10,4,25
385830,2018-01-01,01,100CW,102.8573,24.5529,2525,20,2,64
385843,2018-01-01,01,100CW,101.4086,23.4969,2383,20,2,64
385844,2018-01-01,01,100CW,99.3867,23.5542,2341,20,2,64
385845,2018-01-01,01,100CW,99.0827,22.3791,2217,20,2,64

In [13]:
#wr_df_t['day'] = wr_df_t['wr_sdate'].map(lambda x: x.day)

In [14]:
wr_df_t['wr_mcode'].unique()

array(['01', 'RF-46', 'RF-11', 'RF-42', 'RF-44', 'RF-45', 'RF-36',
       'RF-37', 'RF-38'], dtype=object)

In [15]:
wr_df_t

,wr_sdate,wr_mcode,wr_count,wr_acount,wr_stren,wr_csp,wr_nosmp,wr_studyno,wr_rh
386296,2018-01-01,01,100CW,99.0827,0.0000,0,10,4,25
385830,2018-01-01,01,100CW,102.8573,24.5529,2525,20,2,64
385843,2018-01-01,01,100CW,101.4086,23.4969,2383,20,2,64
385844,2018-01-01,01,100CW,99.3867,23.5542,2341,20,2,64
385845,2018-01-01,01,100CW,99.0827,22.3791,2217,20,2,64
385846,2018-01-01,01,100CW,102.2084,24.2597,2480,20,2,64
385847,2018-01-01,01,100CW,100.7778,22.0859,2226,20,2,64
385848,2018-01-01,01,100CW,99.0827,22.5555,2235,20,2,64
385849,2018-01-01,01,100CW,101.7270,23.4373,2384,20,2,64
385851,2018-01-01,01,100CW,100.9347,25.7875,2603,20,2,64
385852,2018-01-01,01,100CW,102.3698,25.6111,2622,20,2,64
385853,2018-01-01,01,100CW,101.7270,23.7901,2420,20,2,64
385858,2018-01-01,01,100CW,100.9347,22.6745,2289,20,2,64
385859,2018-01-01,01,100CW,101.2502,23.9665,2427,20,2,64
385860,2018-01-01,01,100CW,98.9315,23.7901,2354,20,2,64
385861,2018-01-01,01,100CW,98.6303,22.2028,2190,20,2,64
385862,2018-01-01,01,100CW,103.1849,27.1962,2806,20,2,64
385863,2018-01-01,01,100CW,104.0130,23.6732,2462,20,2,64
386291,2018-01-01,01,100CW,100.9347,0.0000,0,10,4,25
386292,2018-01-01,01,100CW,97.5905,0.0000,0,10,4,25
386293,2018-01-01,01,100CW,99.8461,0.0000,0,10,4,25
386294,2018-01-01,01,100CW,100.9347,0.0000,0,10,4,25
386295,2018-01-01,01,100CW,96.4287,0.0000,0,10,4,25
386297,2018-01-01,01,100CW,101.7270,0.0000,0,10,4,25
385796,2018-01-01,01,100CW,99.3867,0.0000,0,10,3,64
385795,2018-01-01,01,100CW,99.2345,0.0000,0,10,3,64
385850,2018-01-01,01,100CW,103.3495,24.4360,2525,20,2,64
385793,2018-01-01,01,100CW,98.9315,0.0000,0,10,3,64
361431,2018-01-01,01,100CW,103.5146,0.0000,0,10,4,25
361432,2018-01-01,01,100CW,103.8463,0.0000,0,10,4,25
...,...,...,...,...,...,...,...,...,...
475124,2018-12-30,01,100CW,102.6943,23.6313,2427,20,1,65
479592,2018-12-30,01,100CW,100.0002,22.3924,2239,20,2,65
479593,2018-12-30,01,100CW,100.7778,27.2844,2750,20,2,65
479596,2018-12-30,01,100CW,99.0827,26.9295,2668,20,2,65
479628,2018-12-30,01,100CW,100.1547,25.9600,2600,20,2,65
479657,2018-12-30,01,100CW,100.1547,26.1100,2615,20,2,65
480297,2018-12-30,01,100CW,100.7778,24.8500,2504,20,2,65
480298,2018-12-30,01,100CW,99.3867,27.6600,2749,20,2,65
480299,2018-12-30,01,100CW,97.4438,26.1400,2547,20,2,65
480300,2018-12-30,01,100CW,98.4804,24.8800,2450,20,2,65
480301,2018-12-30,01,100CW,100.0002,28.9600,2896,20,2,65
480302,2018-12-30,01,100CW,100.0002,25.6300,2563,20,2,65
480303,2018-12-30,01,100CW,99.0827,23.6600,2344,20,2,65
475802,2018-12-30,01,100CW,100.3098,25.8117,2589,20,1,65
480304,2018-12-30,01,100CW,98.0334,26.9000,2637,20,2,65
480306,2018-12-30,01,100CW,102.2084,27.5200,2813,20,2,65
480327,2018-12-30,01,100CW,102.0474,25.6690,2619,20,2,65
480328,2018-12-30,01,100CW,99.2345,26.4430,2624,20,2,65
480329,2018-12-30,01,100CW,99.8461,25.7400,2570,20,2,65
480330,2018-12-30,01,100CW,97.1516,27.4100,2663,20,2,65
480331,2018-12-30,01,100CW,101.2502,28.5000,2886,20,2,65
475811,2018-12-30,01,100CW,101.7270,25.7522,2620,20,1,65
475809,2018-12-30,01,100CW,98.6303,25.6927,2534,20,1,65
475808,2018-12-30,01,100CW,104.5163,25.7522,2692,20,1,65
475807,2018-12-30,01,100CW,100.3098,27.2249,2731,20,1,65
475806,2018-12-30,01,100CW,102.0474,26.1049,2664,20,1,65
475805,2018-12-30,01,100CW,96.7166,28.2280,2730,20,1,65
475804,2018-12-30,01,100CW,100.0002,24.6918,2469,20,1,65
480305,2018-12-30,01,100CW,101.0922,25.7400,2602,20,2,65
475125,2018-12-30,01,100CW,99.3867,27.6967,2753,20,1,65

In [16]:
#grouped = grouped[grouped['csp']!=0]
#grouped = grouped[grouped['wr_acount']!=0]
#grouped = grouped[grouped['wr_stren']!=0]

In [18]:
#MonthWise

month = 1
mon_grouped_flags = wr_df_t['wr_sdate'].map(lambda x: x.month) == month


mon_grouped = wr_df_t[mon_grouped_flags]


grouped = mon_grouped.groupby(['wr_sdate'], as_index=False)

grouped = grouped[['wr_acount','wr_stren','wr_rh']].agg(np.mean)


grouped['csp'] = grouped['wr_acount'] * grouped['wr_stren']


sample_group = mon_grouped.groupby(['wr_sdate'], as_index=False)
#print(sample_group.groups)
#print(mon_grouped)
sample_list = []
stren_cv_list = []
acount_cv_list = []
for name, group in sample_group:
    #print(set(list(group['wr_studyno'])))
    #print(group[['wr_studyno','wr_nosmp']])
    stren_cv = (np.std(group['wr_stren'])/np.mean(grouped['wr_stren']))*100
    acount_cv = (np.std(group['wr_acount'])/np.mean(grouped['wr_acount']))*100
    study_group = group.groupby(['wr_studyno'], as_index=False)
    study_group = study_group['wr_nosmp']. agg(np.max)
    #print(study_group)
    #print(sum(study_group['wr_nosmp']))
    sample_list.append(sum(study_group['wr_nosmp']))
    stren_cv_list.append(stren_cv)
    acount_cv_list.append(acount_cv)

In [19]:
stren_cv_list = list(map(str, stren_cv_list))
stren_cv_list = ['strength_CV: '+ s for s in stren_cv_list]
stren_cv_list

['strength_CV: 78.23598040430183',
 'strength_CV: 81.46002366534705',
 'strength_CV: 57.790148098718554',
 'strength_CV: 76.84330170872607',
 'strength_CV: 72.87583902472579',
 'strength_CV: 30.164606746743566',
 'strength_CV: 64.49260339821524',
 'strength_CV: 81.60387496403717',
 'strength_CV: 78.03552565904496',
 'strength_CV: 9.432824597770193',
 'strength_CV: 76.49761345907893',
 'strength_CV: 10.359487089294923',
 'strength_CV: 73.50212160810344',
 'strength_CV: 81.64940724666006',
 'strength_CV: 70.38952837775413',
 'strength_CV: 9.549924144462194',
 'strength_CV: 72.70793769835753',
 'strength_CV: 9.668193864700667',
 'strength_CV: 77.28473762309746',
 'strength_CV: 35.08107483040634',
 'strength_CV: 73.15557790053455',
 'strength_CV: 9.873275368930774',
 'strength_CV: 73.573799535875',
 'strength_CV: 20.42903693976393',
 'strength_CV: 74.67830845939075',
 'strength_CV: 0.0',
 'strength_CV: 61.26000743686384',
 'strength_CV: 10.428124999996005']

In [20]:
#len(acount_cv_list)
acount_cv_list = list(map(str, acount_cv_list))
acount_cv_list = ['count_CV: '+s for s in acount_cv_list]
acount_cv_list

['count_CV: 1.8878907185625948',
 'count_CV: 1.9446524070912339',
 'count_CV: 2.067880144908748',
 'count_CV: 1.8920909705812599',
 'count_CV: 1.6896348756696518',
 'count_CV: 18.37454885446166',
 'count_CV: 1.9786399549823654',
 'count_CV: 2.24253995645921',
 'count_CV: 1.8640049282525464',
 'count_CV: 1.6273840378892759',
 'count_CV: 12.257838249639276',
 'count_CV: 2.0916977008727047',
 'count_CV: 1.9013904655789151',
 'count_CV: 5.055793173681787',
 'count_CV: 12.167755974311264',
 'count_CV: 1.7179206815828456',
 'count_CV: 1.8241343663468814',
 'count_CV: 1.8371926844904372',
 'count_CV: 12.256786432947688',
 'count_CV: 12.436397085357301',
 'count_CV: 1.9244189433372436',
 'count_CV: 1.7315961769255181',
 'count_CV: 1.912199889885515',
 'count_CV: 2.091898884185186',
 'count_CV: 12.17608373092365',
 'count_CV: 1.8063141226930024',
 'count_CV: 40.09286443401493',
 'count_CV: 0.9830124174251097']

In [21]:
len(sample_list)
sample_list = list(map(str, sample_list))
sample_list = ['nosmp: '+s for s in sample_list]
sample_list

['nosmp: 50',
 'nosmp: 40',
 'nosmp: 50',
 'nosmp: 30',
 'nosmp: 90',
 'nosmp: 30',
 'nosmp: 80',
 'nosmp: 60',
 'nosmp: 40',
 'nosmp: 40',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 70',
 'nosmp: 50',
 'nosmp: 50',
 'nosmp: 42',
 'nosmp: 20']

In [22]:
#len(sample_list)
#len(stren_cv_list)
#len(acount_cv_list)
annotation_list = []
for i in range(len(sample_list)):
    annotation_list.append(sample_list[i]+'\n'+stren_cv_list[i]+'\n'+acount_cv_list[i])
#+'\n'+acount_cv_list[i]

In [23]:
annotation_list

['nosmp: 50\nstrength_CV: 78.23598040430183\ncount_CV: 1.8878907185625948',
 'nosmp: 40\nstrength_CV: 81.46002366534705\ncount_CV: 1.9446524070912339',
 'nosmp: 50\nstrength_CV: 57.790148098718554\ncount_CV: 2.067880144908748',
 'nosmp: 30\nstrength_CV: 76.84330170872607\ncount_CV: 1.8920909705812599',
 'nosmp: 90\nstrength_CV: 72.87583902472579\ncount_CV: 1.6896348756696518',
 'nosmp: 30\nstrength_CV: 30.164606746743566\ncount_CV: 18.37454885446166',
 'nosmp: 80\nstrength_CV: 64.49260339821524\ncount_CV: 1.9786399549823654',
 'nosmp: 60\nstrength_CV: 81.60387496403717\ncount_CV: 2.24253995645921',
 'nosmp: 40\nstrength_CV: 78.03552565904496\ncount_CV: 1.8640049282525464',
 'nosmp: 40\nstrength_CV: 9.432824597770193\ncount_CV: 1.6273840378892759',
 'nosmp: 50\nstrength_CV: 76.49761345907893\ncount_CV: 12.257838249639276',
 'nosmp: 50\nstrength_CV: 10.359487089294923\ncount_CV: 2.0916977008727047',
 'nosmp: 50\nstrength_CV: 73.50212160810344\ncount_CV: 1.9013904655789151',
 'nosmp: 50\nstrength_CV: 81.64940724666006\ncount_CV: 5.055793173681787',
 'nosmp: 50\nstrength_CV: 70.38952837775413\ncount_CV: 12.167755974311264',
 'nosmp: 50\nstrength_CV: 9.549924144462194\ncount_CV: 1.7179206815828456',
 'nosmp: 50\nstrength_CV: 72.70793769835753\ncount_CV: 1.8241343663468814',
 'nosmp: 50\nstrength_CV: 9.668193864700667\ncount_CV: 1.8371926844904372',
 'nosmp: 50\nstrength_CV: 77.28473762309746\ncount_CV: 12.256786432947688',
 'nosmp: 50\nstrength_CV: 35.08107483040634\ncount_CV: 12.436397085357301',
 'nosmp: 50\nstrength_CV: 73.15557790053455\ncount_CV: 1.9244189433372436',
 'nosmp: 50\nstrength_CV: 9.873275368930774\ncount_CV: 1.7315961769255181',
 'nosmp: 50\nstrength_CV: 73.573799535875\ncount_CV: 1.912199889885515',
 'nosmp: 70\nstrength_CV: 20.42903693976393\ncount_CV: 2.091898884185186',
 'nosmp: 50\nstrength_CV: 74.67830845939075\ncount_CV: 12.17608373092365',
 'nosmp: 50\nstrength_CV: 0.0\ncount_CV: 1.8063141226930024',
 'nosmp: 42\nstrength_CV: 61.26000743686384\ncount_CV: 40.09286443401493',
 'nosmp: 20\nstrength_CV: 10.428124999996005\ncount_CV: 0.9830124174251097']

In [24]:
#wr_df_t['wr_sdate'] = wr_df_t['wr_sdate'].astype('str') 
#wr_df_t['wr_sdate'] = wr_df_t['wr_sdate'].dt.strftime('%Y-%m-%d')

In [25]:
wr_df_t.dtypes

wr_sdate      datetime64[ns]
wr_mcode              object
wr_count              object
wr_acount            float64
wr_stren             float64
wr_csp                 int64
wr_nosmp               int64
wr_studyno             int64
wr_rh                  int64
dtype: object

In [26]:
grouped

     wr_sdate   wr_acount   wr_stren      wr_rh          csp
0  2018-01-01  100.347094   9.504172  56.200000   953.716041
1  2018-01-02   99.863168  10.965242  43.000000  1095.023848
2  2018-01-03  100.172616  20.904857  57.571429  2094.094221
3  2018-01-04  100.029603  16.137907  64.000000  1614.268402
4  2018-01-05  100.082105  17.673067  61.818182  1768.757782
5  2018-01-06   96.744833  23.282580  61.000000  2252.469322
6  2018-01-07   99.445850   4.803147  51.400000   477.653036
7  2018-01-08  100.174251  14.002789  63.142857  1402.718863
8  2018-01-09  100.506485   8.219013  63.000000   826.064140
9  2018-01-10   99.886860  24.409525  64.000000  2438.190806
10 2018-01-11   98.820744   7.208677  63.142857   712.366841
11 2018-01-12   99.912840  25.042172  64.000000  2502.034524
12 2018-01-13  100.246817   6.917914  64.000000   693.498888
13 2018-01-14   96.398980  14.018851  52.857143  1351.402978
14 2018-01-15   98.354677   6.622844  62.000000   651.387711
15 2018-01-16   99.751584  25.003418  64.000000  2494.130551
16 2018-01-17   99.832230   6.845006  63.142857   683.352185
17 2018-01-18  100.140684  24.540400  64.000000  2457.492442
18 2018-01-19   98.852793   7.277971  63.142857   719.447802
19 2018-01-20   98.592228  23.067319  66.647059  2274.258384
20 2018-01-21  100.115111   6.886927  64.000000   689.485478
21 2018-01-22  100.637744  24.307818  64.000000  2446.283965
22 2018-01-23  100.475763   6.931369  63.142857   696.434545
23 2018-01-24   99.200667  24.772708  62.666667  2457.469127
24 2018-01-25   98.256567   7.037911  64.000000   691.521017
25 2018-01-26   99.982358   0.000000  65.000000     0.000000
26 2018-01-27   81.032569  18.673783  64.666667  1513.184637
27 2018-01-31   81.021845  32.583555  64.000000  2639.979743

In [27]:
trace0 = go.Scatter(
    x=grouped['wr_sdate'],
    y=grouped['csp'],
    name='CSP',
    text = annotation_list
)

trace1 = go.Scatter(
    x=grouped['wr_sdate'],
    y=grouped['wr_acount'],
    name='Count Value',
    yaxis='y2',
    text = sample_list
)

trace2 = go.Scatter(
    x=grouped['wr_sdate'],
    y=grouped['wr_stren'],
    name='Strength Value',
    yaxis='y3',
    text = sample_list
)

trace3 = go.Scatter(
    x=grouped['wr_sdate'],
    y=grouped['wr_rh'],
    name='RH',
    yaxis='y4',
    text = sample_list
)

data = [trace0,trace1,trace2,trace3]

In [28]:
layout = go.Layout(
    title='CSP-COUNT-STRENGTH ANALYSIS COUNT: <b>'+ count+'</b>',
    width=1500,
    xaxis=dict(
        title = 'Date',
        domain=[0.20, 1],
         tickformat = '%d %B (%a)<br>%Y'
         ),
    yaxis=dict(
        title='CSP',
        titlefont=dict(
            color='#1f77b4'
        ),
        tickfont=dict(
            color='#1f77b4'
        )
    ),
    yaxis2=dict(
        title='Count',
        titlefont=dict(
            color='#ff7f0e'
        ),
        tickfont=dict(
            color='#ff7f0e'
        ),
        anchor='free',
        overlaying='y',
        side='left',
         position=0.05
    ),
    yaxis3=dict(
        title='Strength',
        titlefont=dict(
             color='#228B22'
        ),
        tickfont=dict(
        ),
        anchor='free',
        overlaying='y',
        side='left',
        position=0.10
    ),
    yaxis4=dict(
        title='RH',
        titlefont=dict(
             color='#FA2626'
        ),
        tickfont=dict(
        ),
        anchor='free',
        overlaying='y',
        side='left',
        position=0.15
    )
)
fig = go.Figure(data=data, layout=layout)
plot(fig, filename='csp-multiple.html')

'csp-multiple.html'

In [264]:
'''
#Range Selector Example
layout = go.Layout(
    title='CSP-COUNT-STRENGTH ANALYSIS COUNT: <b>'+ count+'</b>',
    width=1500,
    xaxis=dict(
        title = 'Date',
        domain=[0.15, 1],
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(
            visible = True
        ),
        type='date'
    ),
    yaxis=dict(
        title='CSP',
        titlefont=dict(
            color='#1f77b4'
        ),
        tickfont=dict(
            color='#1f77b4'
        )
    ),
    yaxis2=dict(
        title='Count',
        titlefont=dict(
            color='#ff7f0e'
        ),
        tickfont=dict(
            color='#ff7f0e'
        ),
        anchor='free',
        overlaying='y',
        side='left',
         position=0.05
    ),
    yaxis3=dict(
        title='Strength',
        titlefont=dict(
             color='#228B22'
        ),
        tickfont=dict(
        ),
        anchor='free',
        overlaying='y',
        side='left',
        position=0.10
    )
)
fig = go.Figure(data=data, layout=layout)
plot(fig, filename='csp-multiple.html')
'''

'csp-multiple.html'

In [35]:
#YearWise Report
y_sample = []
count_list = []
stren_list = []
csp_list = []
rh_list = []
for m in range(1,13):
    print('MONTH',m)
    mon_grouped_flags = wr_df_t['wr_sdate'].map(lambda x: x.month) == m
    mon_grouped = wr_df_t[mon_grouped_flags]
    grouped = mon_grouped.groupby(['wr_sdate'], as_index=False)
    grouped = grouped[['wr_acount','wr_stren','wr_rh']].agg(np.mean)
    grouped['csp'] = grouped['wr_acount'] * grouped['wr_stren']
    sample_group = mon_grouped.groupby(['wr_sdate'], as_index=False)
    #print(sample_group.groups)
    print(grouped)
    count_list.append(np.nanmean(grouped['wr_acount']))
    stren_list.append(np.nanmean(grouped['wr_stren']))
    csp_list.append(np.nanmean(grouped['csp']))
    rh_list.append(np.nanmean(grouped['wr_rh']))
    sample_list = []
    for name, group in sample_group:
        # print(set(list(group['wr_studyno'])))
        # print(group[['wr_studyno','wr_nosmp']])
        study_group = group.groupby(['wr_studyno'], as_index=False)
        study_group = study_group['wr_nosmp']. agg(np.max)
        # print(sum(study_group['wr_nosmp']))
       # print(study_group)
        sample_list.append(sum(study_group['wr_nosmp']))
    y_sample.append(np.sum(sample_list))

MONTH 1
     wr_sdate   wr_acount   wr_stren      wr_rh          csp
0  2018-01-01  100.347094   9.504172  56.200000   953.716041
1  2018-01-02   99.863168  10.965242  43.000000  1095.023848
2  2018-01-03  100.172616  20.904857  57.571429  2094.094221
3  2018-01-04  100.029603  16.137907  64.000000  1614.268402
4  2018-01-05  100.082105  17.673067  61.818182  1768.757782
5  2018-01-06   96.744833  23.282580  61.000000  2252.469322
6  2018-01-07   99.445850   4.803147  51.400000   477.653036
7  2018-01-08  100.174251  14.002789  63.142857  1402.718863
8  2018-01-09  100.506485   8.219013  63.000000   826.064140
9  2018-01-10   99.886860  24.409525  64.000000  2438.190806
10 2018-01-11   98.820744   7.208677  63.142857   712.366841
11 2018-01-12   99.912840  25.042172  64.000000  2502.034524
12 2018-01-13  100.246817   6.917914  64.000000   693.498888
13 2018-01-14   96.398980  14.018851  52.857143  1351.402978
14 2018-01-15   98.354677   6.622844  62.000000   651.387711
15 2018-01-16   99.751584  25.003418  64.000000  2494.130551
16 2018-01-17   99.832230   6.845006  63.142857   683.352185
17 2018-01-18  100.140684  24.540400  64.000000  2457.492442
18 2018-01-19   98.852793   7.277971  63.142857   719.447802
19 2018-01-20   98.592228  23.067319  66.647059  2274.258384
20 2018-01-21  100.115111   6.886927  64.000000   689.485478
21 2018-01-22  100.637744  24.307818  64.000000  2446.283965
22 2018-01-23  100.475763   6.931369  63.142857   696.434545
23 2018-01-24   99.200667  24.772708  62.666667  2457.469127
24 2018-01-25   98.256567   7.037911  64.000000   691.521017
25 2018-01-26   99.982358   0.000000  65.000000     0.000000
26 2018-01-27   81.032569  18.673783  64.666667  1513.184637
27 2018-01-31   81.021845  32.583555  64.000000  2639.979743
MONTH 2
    wr_sdate  wr_acount   wr_stren  wr_rh          csp
0 2018-02-19  100.71955  22.559292     64  2272.161705
MONTH 3
    wr_sdate   wr_acount   wr_stren      wr_rh          csp
0 2018-03-29  100.315444  11.972069  45.500000  1200.983389
1 2018-03-30   92.742441  24.145320  64.000000  2239.295929
2 2018-03-31   86.921367  20.772443  55.397059  1805.569101
MONTH 4
    wr_sdate   wr_acount   wr_stren      wr_rh          csp
0 2018-04-03   80.492380  19.093008  64.000000  1536.841655
1 2018-04-04  100.514890  25.293635  65.000000  2542.386940
2 2018-04-09   99.534210  25.011780  64.000000  2489.527763
3 2018-04-24   99.422853  22.992446  63.222222  2285.974542
4 2018-04-25  102.131590  23.394580  64.000000  2389.325653
5 2018-04-26   96.433985  22.622845  65.000000  2181.611095
6 2018-04-29  100.519115  23.820288  64.500000  2394.394219
7 2018-04-30   91.503635  21.090415  65.000000  1929.849636
MONTH 5
     wr_sdate   wr_acount   wr_stren      wr_rh          csp
0  2018-05-01   88.016285  19.488367  64.000000  1715.293708
1  2018-05-02   95.586964  22.082991  64.888889  2110.846086
2  2018-05-03   98.980310  19.092844  56.400000  1889.815618
3  2018-05-04   98.745990  23.150410  65.000000  2286.010154
4  2018-05-05   99.179985  23.705973  65.000000  2351.158080
5  2018-05-06  100.225544  22.554348  65.000000  2260.521798
6  2018-05-07   98.153029  16.111883  53.428571  1581.430098
7  2018-05-08   99.934815  23.288420  65.000000  2327.323944
8  2018-05-09   99.393947  11.408475  64.000000  1133.933365
9  2018-05-10  100.041485  22.885180  65.000000  2289.467392
10 2018-05-11   98.899552   8.027068  63.333333   793.873459
11 2018-05-12   99.735309  16.803495  63.000000  1675.901762
12 2018-05-13  100.003397  22.009900  58.500000  2201.064779
13 2018-05-15  101.144315  22.555060  64.000000  2281.316093
14 2018-05-17   99.879500  23.100255  64.000000  2307.241919
15 2018-05-18   99.164452  23.770680  65.000000  2357.206448
16 2018-05-19   99.805005  20.960670  63.000000  2091.979774
17 2018-05-20   97.819550  23.924780  62.000000  2340.311213
18 2018-05-21   99.196565  23.559563  64.600000  2337.027723
19 2018-05-22  100.348125  24.166635  64.000000  2425.076510
20 2018-05-23   99.962360  22.943730  64.000000  2293.509398
21 2018-05-25  100.720805  23.258775  64.000000  2342.642541
22 2018-05-27  100.305225  22.958500  64.000000  2302.857508
23 2018-05-29  101.268970  22.829095  64.000000  2311.878937
24 2018-05-30   99.427950  24.529070  65.000000  2438.875146
25 2018-05-31  100.018015  23.034890  64.000000  2303.903974
MONTH 6
     wr_sdate   wr_acount   wr_stren  wr_rh          csp
0  2018-06-02   99.582677  22.430302     63  2233.669478
1  2018-06-04  100.001810  23.291500     63  2329.192158
2  2018-06-05   91.514100  21.945097     65  2008.285847
3  2018-06-06  100.258730  23.093970     64  2315.372103
4  2018-06-08  101.197250  22.451535     65  2272.033600
5  2018-06-10  100.726115  22.852455     65  2301.839010
6  2018-06-12  100.194110  23.341880     65  2338.718892
7  2018-06-14  100.576885  24.438290     65  2457.927083
8  2018-06-16  100.378210  24.859275     63  2495.329526
9  2018-06-18  100.267895  24.846700     64  2491.326307
10 2018-06-20  100.407270  24.408640     65  2450.804907
11 2018-06-24  100.568635  21.726555     65  2185.009980
MONTH 7
Empty DataFrame
Columns: [wr_sdate, wr_acount, wr_stren, wr_rh, csp]
Index: []
MONTH 8

C:\Users\VISWA\Anaconda3\envs\tensorflow_gpuenv\lib\site-packages\ipykernel_launcher.py:17: RuntimeWarning:

Mean of empty slice

C:\Users\VISWA\Anaconda3\envs\tensorflow_gpuenv\lib\site-packages\ipykernel_launcher.py:18: RuntimeWarning:

Mean of empty slice

C:\Users\VISWA\Anaconda3\envs\tensorflow_gpuenv\lib\site-packages\ipykernel_launcher.py:19: RuntimeWarning:

Mean of empty slice

C:\Users\VISWA\Anaconda3\envs\tensorflow_gpuenv\lib\site-packages\numpy\core\fromnumeric.py:3118: RuntimeWarning:

Mean of empty slice.

C:\Users\VISWA\Anaconda3\envs\tensorflow_gpuenv\lib\site-packages\numpy\core\_methods.py:85: RuntimeWarning:

invalid value encountered in double_scalars

Empty DataFrame
Columns: [wr_sdate, wr_acount, wr_stren, wr_rh, csp]
Index: []
MONTH 9
    wr_sdate  wr_acount  wr_stren  wr_rh          csp
0 2018-09-30  96.458825  30.60193     66  2951.826211
MONTH 10
     wr_sdate   wr_acount   wr_stren      wr_rh          csp
0  2018-10-01  101.115330  26.992305  66.000000  2729.335828
1  2018-10-03   99.690960  26.219025  66.000000  2613.799773
2  2018-10-04   43.471323  11.000781  52.774194   478.218484
3  2018-10-05   82.494678  16.004152  57.276596  1320.257371
4  2018-10-07  100.484260  26.429670  66.000000  2655.765832
5  2018-10-09  100.553820  25.669295  64.000000  2581.145669
6  2018-10-10   99.259013   0.000000  65.000000     0.000000
7  2018-10-11   90.479726  17.813370  57.538462  1611.748839
8  2018-10-13   86.691689  21.534879  46.250000  1866.895060
9  2018-10-15  100.668685  27.369605  66.000000  2755.262144
10 2018-10-17  101.236725  27.057115  66.000000  2739.173711
11 2018-10-19  101.523320  26.694890  66.000000  2710.153860
12 2018-10-21  100.831535  27.581695  66.000000  2781.104645
13 2018-10-23  101.341027  26.916823  52.333333  2727.778511
14 2018-10-25  101.845845  26.220465  63.000000  2670.445414
15 2018-10-26  103.495213  24.589528  63.000000  2544.898374
16 2018-10-27  101.230505  26.489090  63.000000  2681.503958
17 2018-10-28   12.783920   5.297820  25.000000    67.726907
18 2018-10-29  102.847240  26.777350  61.000000  2753.976542
19 2018-10-31   99.018015  24.683893  64.000000  2444.150038
MONTH 11
     wr_sdate   wr_acount   wr_stren      wr_rh          csp
0  2018-11-01   99.256800   0.000000  66.000000     0.000000
1  2018-11-02  100.515740  27.363790  66.000000  2750.491601
2  2018-11-04  100.339781  27.230667  63.095238  2732.319129
3  2018-11-06  100.363050  26.229285  62.000000  2632.451042
4  2018-11-08   95.680475  25.522030  62.000000  2441.959953
5  2018-11-10  101.456940  25.994500  63.000000  2637.322427
6  2018-11-12  101.064835  27.245720  63.000000  2753.584196
7  2018-11-13   96.203622  18.211837  62.333333  1752.044645
8  2018-11-14   98.325584  20.878253  63.666667  2052.866455
9  2018-11-15  101.551485  23.888123  64.000000  2425.874314
10 2018-11-16  100.665218  23.808195  64.000000  2396.657148
11 2018-11-17   94.658538  24.123500  64.000000  2283.495249
12 2018-11-18  100.979410  26.279210  65.000000  2653.659121
13 2018-11-19   98.827810  27.257510  64.000000  2693.800019
14 2018-11-20  101.665479  19.171485  57.500000  1949.078251
15 2018-11-21  100.357920  10.740524  63.800000  1077.896648
16 2018-11-22  100.168602  27.043664  65.400000  2708.926016
17 2018-11-23  100.977618   9.955414  66.000000  1005.273992
18 2018-11-24   99.264756  19.490739  63.500000  1934.743431
19 2018-11-25  101.188214   6.310485  61.125000   638.546705
20 2018-11-26  101.426890  25.488872  64.777778  2585.257039
21 2018-11-27  101.184870   6.780980  64.000000   686.132580
22 2018-11-28  101.470512  21.772868  64.000000  2209.304039
23 2018-11-29  101.068620   0.000000  65.000000     0.000000
24 2018-11-30   98.717788  20.512116  60.200000  2024.910719
MONTH 12
     wr_sdate   wr_acount   wr_stren      wr_rh          csp
0  2018-12-01   97.106302   0.000000  64.000000     0.000000
1  2018-12-02  100.951069  26.299134  64.000000  2654.925709
2  2018-12-03  101.197954   0.000000  64.000000     0.000000
3  2018-12-04  101.168876  25.931240  65.000000  2623.434397
4  2018-12-05  100.479384   0.000000  65.000000     0.000000
5  2018-12-06  100.670902  25.337110  64.000000  2550.709718
6  2018-12-07   99.844663   7.051294  63.714286   704.034101
7  2018-12-08  101.200892  16.084621  63.250000  1627.778026
8  2018-12-09   58.808863   2.162202  14.583333   127.156622
9  2018-12-10  101.034079  22.126157  64.000000  2235.495899
10 2018-12-11  101.539201  13.996520  62.285714  1421.195464
11 2018-12-12  100.686607  25.702852  62.000000  2587.932916
12 2018-12-13  101.349250   0.000000  61.000000     0.000000
13 2018-12-14  100.621433  26.659320  64.000000  2682.498990
14 2018-12-15   91.394640   0.000000  64.000000     0.000000
15 2018-12-16  100.740465  26.105485  64.000000  2629.878698
16 2018-12-18  100.828287  13.158900  63.000000  1326.789352
17 2018-12-20  100.837105  25.816585  64.000000  2603.269692
18 2018-12-22   99.409695  22.967755  63.000000  2283.217519
19 2018-12-24  100.168410  27.048295  64.000000  2709.384703
20 2018-12-25  100.052405   0.000000  64.000000     0.000000
21 2018-12-26   90.452420  14.198980  64.666667  1284.332103
22 2018-12-27   94.241945  26.612445  64.000000  2508.008578
23 2018-12-28  100.379165  25.949075  65.000000  2604.746481
24 2018-12-30  100.395065  25.456557  65.000000  2555.712745

In [36]:
import math
csp_list = [None if math.isnan(elt) else elt for elt in csp_list]
stren_list = [None if math.isnan(elt) else elt for elt in stren_list]
count_list = [None if math.isnan(elt) else elt for elt in count_list]
rh_list = [None if math.isnan(elt) else elt for elt in rh_list]
print(csp_list)
print(stren_list)
print(count_list)

[1449.8816886458214, 2272.1617049854167, 1748.616140033756, 2218.738937889532, 2105.7872087441133, 2323.2924076174427, None, None, 2951.82621053225, 2136.6670479460977, 1961.0637887829691, 1588.8200685165316]
[14.915748005155093, 22.559291666666663, 18.963277222443036, 22.914874506944447, 21.23850223595849, 23.30718326388889, None, None, 30.601930000000003, 22.06708752405771, 19.65199064991453, 15.946581111904763]
[98.17425240273838, 100.71955000000001, 93.32641694488603, 96.31908229166666, 99.07528650381563, 99.63947388888887, None, None, 96.45882499999999, 91.55314134053663, 99.89522231706958, 97.82236309904764]

In [37]:
print(csp_list)
print(stren_list)
print(count_list)

[1449.8816886458214, 2272.1617049854167, 1748.616140033756, 2218.738937889532, 2105.7872087441133, 2323.2924076174427, None, None, 2951.82621053225, 2136.6670479460977, 1961.0637887829691, 1588.8200685165316]
[14.915748005155093, 22.559291666666663, 18.963277222443036, 22.914874506944447, 21.23850223595849, 23.30718326388889, None, None, 30.601930000000003, 22.06708752405771, 19.65199064991453, 15.946581111904763]
[98.17425240273838, 100.71955000000001, 93.32641694488603, 96.31908229166666, 99.07528650381563, 99.63947388888887, None, None, 96.45882499999999, 91.55314134053663, 99.89522231706958, 97.82236309904764]

In [38]:
y_sample = list(map(str, y_sample))
y_sample = ['nosmp: '+s for s in y_sample]
y_sample

['nosmp: 1392',
 'nosmp: 36',
 'nosmp: 362',
 'nosmp: 235',
 'nosmp: 1200',
 'nosmp: 300',
 'nosmp: 0.0',
 'nosmp: 0.0',
 'nosmp: 20',
 'nosmp: 866',
 'nosmp: 1139',
 'nosmp: 940']

In [39]:
months = []
for i in range(1,13):
    month = datetime.date(1900,i, 1).strftime('%B')
    months.append(month)
months

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [40]:
trace0 = go.Scatter(
    x=months,
    y=csp_list,
    name='CSP',
    text =y_sample
)

trace1 = go.Scatter(
    x=months,
    y=count_list,
    name='Count Value',
    yaxis='y2',
    text = y_sample
)

trace2 = go.Scatter(
    x=months,
    y=stren_list,
    name='Strength Value',
    yaxis='y3',
    text = y_sample
)

trace3 = go.Scatter(
    x=months,
    y=rh_list,
    name='RH',
    yaxis='y4',
    text = sample_list
)


data = [trace0,trace1,trace2,trace3]

In [41]:
layout = go.Layout(
    title='CSP-COUNT-STRENGTH ANALYSIS COUNT: <b>'+ count+'</b>',
    width=1500,
    xaxis=dict(
        title = 'Date',
        domain=[0.20, 1],
         tickformat = '%d %B (%a)<br>%Y'
         ),
    yaxis=dict(
        title='CSP',
        titlefont=dict(
            color='#1f77b4'
        ),
        tickfont=dict(
            color='#1f77b4'
        )
    ),
    yaxis2=dict(
        title='Count',
        titlefont=dict(
            color='#ff7f0e'
        ),
        tickfont=dict(
            color='#ff7f0e'
        ),
        anchor='free',
        overlaying='y',
        side='left',
         position=0.05
    ),
    yaxis3=dict(
        title='Strength',
        titlefont=dict(
             color='#228B22'
        ),
        tickfont=dict(
        ),
        anchor='free',
        overlaying='y',
        side='left',
        position=0.10
    ),
    yaxis4=dict(
        title='RH',
        titlefont=dict(
             color='#FA2626'
        ),
        tickfont=dict(
        ),
        anchor='free',
        overlaying='y',
        side='left',
        position=0.15
    )
)
fig = go.Figure(data=data, layout=layout)
plot(fig, filename='csp-multiple.html')

'csp-multiple.html'